.footer {
    background-color: #131920;
    padding: 30px;
    width: 100%;
    border-top: 1px solid #212f3b;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.footer-section {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.pi-prime { 
  align-content: center;
  display: block;
}