<div class="game-development">
    <app-project-section [title]="'1'">
        <div>
            <p>
        
            </p>
        </div>
    </app-project-section>
    <app-project-section [title]="'2'">
        <div>
            <p>

            </p>
        </div>
    </app-project-section>
    <app-project-section [title]="'3'">
        <div>
            <p>

            </p>
        </div>
    </app-project-section>
    <app-project-section [title]="'4'">
        <div>
            <p>

            </p>
        </div>
    </app-project-section>
    <app-project-section [title]="'5'">
        <div>
            <p>

            </p>
        </div>
    </app-project-section>
</div>