<div class="game-development">
    <app-project-section [title]="'Overview'">
        <div>
            <p>
                I have participated in a number of game jams, all hosted on my itch.io - see the links here and on the home page to go check it out! Before working on game jam games, I mostly started and didn't
                finish the ideas I had. Game jams provide a tight deadline and a theme which did a lot to help me get something done. Most if not all assets were created by me, including art and music.
                Even before that - as you'll see below - I worked on 'script' games, please give them a go!
            </p>
        </div>
    </app-project-section>
    <app-project-section [title]="'Mech Defense - MechJam V'">
        <div class="game-info">
            <a href="https://itch.io/embed-upload/10939423?color=333333&uuid=155f4c3ccd8a8f734198d24a6711f25e">Check it out here.</a>
            <span>Date Completed - 07/18/2024</span>
            <span>Time Spent - 12 hours</span>
            <p>
            This is my latest game jam - I learned a lot from my first go in the Summer Jam. By far the trickiest part of any of these is figuring out what to do, then sticking with it.
            Implementation is the easiest part, followed by asset creation. Originally the game was going to about destroying mechs and recycling them for parts, then creating contraptions
            to defend against the next wave with their parts. I ended up just making a tower defense game with a mech theme. I'm happy with the result, but I think I could have done more.
            </p>
        </div>

        <div>
            <div class="square-image wrapper">
                <img class="inner-image" src="assets/images/projects/game-development/mech-jam.png"/>
            </div>
        </div>
    </app-project-section>
    <app-project-section [title]="'Asteroid Run - Novice Summer Jam Series 2024 : Mini Jam 2'">
        <div class="game-info">
            <a href="https://itch.io/embed-upload/10853053?uuid=155f4c3ccd8a8f734198d24a6711f25e&color=333333">Check it out here.</a>
            <span>Date Completed - 06/07/2024</span>
            <span>Time Spent - 8 hours</span>
            <p>
            This was my first game jam - lots of fun. It's a simple game about breaking apart asteroids in space. Originally, it was supposed to be similar to agar.io - you'd break apart asteroids
            by gaining speed - and you'd become part of the larger broken parts. I ended up with something close to my vision, but I think I could have done more. It's a bit buggy but I'm fine with the 
            result.
            </p>
        </div>

        <div>
            <div class="square-image wrapper">
                <img class="inner-image" src="assets/images/projects/game-development/asteroid-run.png"/>
            </div>
        </div>
    </app-project-section>
    <app-project-section [title]="'Python Games'">
        <div class="game-info">
            <p>
            I started learning Python in 2010, check out some of my first projects below. Somehow I've kept them around all these years.
            </p>

            <h3>Apple Picker</h3>
            <a href="https://www.online-python.com/5Z4pfFBIsa">Check it out here.</a>
            <span>Date Completed - ??/??/2010</span>

            <h3>Untitled RPG</h3>
            <a href="https://www.online-python.com/9xp5hKZiDV">Check it out here.</a>
            <span>Date Completed - ??/??/2010</span>
        </div>

        <div>
            <div class="square-image wrapper">
                <img class="inner-image" src="assets/images/projects/game-development/python-game.png"/>
            </div>
        </div>
    </app-project-section>
</div>