<div class="projects">
    <div class="projects-container-grid" *ngIf="projectMode == 'grid'">
        <ng-container *ngFor="let project of projectsService.projects">
            <app-project-preview class="{{projectMode}}" [project]="project"></app-project-preview>
        </ng-container>
    </div>

    <div class="projects-container {{projectMode}}" *ngIf="projectMode == 'rectangle'">
        <div class="projects-carousel">
            <p-button icon="pi pi-arrow-left" [rounded]="true" [text]="true" [raised]="true" severity="secondary" (click)="iterateProject(false); buttonPressCooldown=true" />
            <div class="preview-container">
                <app-project-preview [project]="projectsService.projects[currentProject]" [showProgressBar]="!buttonPressCooldown"></app-project-preview>
                <div class="progress-container" [ngStyle]="{'opacity': buttonPressCooldown ? 0 : 1, 'height': buttonPressCooldown ? 0 : 5}">
                    <div class="progress-bar" [ngStyle]="{'width':(ticksElapsed/ticksToLoad*100)+'%'}"></div>
                </div>
            </div>
            <p-button icon="pi pi-arrow-right" [rounded]="true" [text]="true" [raised]="true" severity="secondary" (click)="iterateProject(true); buttonPressCooldown=true" />
        </div>
    </div>
</div>