.projects {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-container-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
    grid-auto-rows: auto; 
    margin: 40px 0;
}

.grid {
    padding: 1vw;
    width: 30vw;
    height: 30vh
}

.rectangle {
    width: 50vw;
}

.projects-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.preview-container {
    flex: 2;
    margin: 0 30px;
}

.progress-container {
    width: 100%;
    background-color: #ffffff13;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    height: 7px;
    opacity: 1;
    transition: opacity 0.4s ease, height 0.2s ease;
  }
  
  .progress-bar {
    height: 100%;
    width: 0;
    background-color: #5486c4a4;
    transition: width 0.2s ease;
  }