.projects {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.projects-container-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px; 
    grid-auto-rows: auto; 
    margin: 40px 0;
}

.grid {
    padding: 1vw;
    width: 30vw;
}

.rectangle {
    width: 50vw;
}

.projects-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.project-rectangle {
    flex: 2;
    margin: 0 30px;
}