.menu-header-container {
    display: flex;
    justify-content: center;
}

.menu-header {
    padding-top: 50px;
    display: flex;
}

.dash {
    font-size: var(--text-large);
    color: var(--color-text-primary); 
    margin: 0 2rem;
}

.dash:hover {
    cursor: default;
}

.mobile-menu-header {
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 9;
    background-color: var(--background-color-secondary);
}

.mobile-menu-icon-container {
    justify-content: space-between;
    position: absolute;
    display: flex;
    width: 100%;
    background-color: var(--background-color-secondary);
}

.mobile-menu-items {
    width: 100%;
    margin-top: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.mobile-menu-item {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-secondary);
}

.pi {
    line-height: inherit;
}

.pi-bars {
    font-size: var(--text-small);
    color: var(--color-text-primary);
    margin: 1rem;
}

.path {
    margin: 1rem 3rem 1rem 1rem;
}

.pi-bars:hover {
    cursor: pointer;
    color: var(--color-text-secondary);
}

@media screen and (max-width: 768px) {
    .menu-header {
        display: none;
    }

    .mobile-menu-header {
        display: flex;
    }
}