
.menu-item {
    font-size: var(--text-large);
    color: var(--color-text-primary);
    transition: color 0.3s;
}

.menu-item:hover {
    color: var(--color-text-hover);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-item {
        font-size: var(--text-small);
        margin: 10px;
    }
}