@import '../../../styles.scss';

$base-gap: 50px;

.profile-container {
    display: flex;
    flex-direction: row;
    margin-top: $base-gap;
    gap: $base-gap;
}

.profile-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    flex: 1;
}

.profile-image-container {
    display: flex;
    justify-content: right;
    fleX: 1;
}

.large {
    font-size: 60px;
}

.medium {
    font-size: 40px;
}

.small {
    font-size: 20px;
}

.pi-linkedin {
    color: #0077B5;
    font-size: 20px;
    transition: color 0.5s;
}

.pi-linkedin:hover {
    color: #00a0dc;
}

.pi-github {
    color: #ffb07b;
    font-size: 20px;
    transition: color 0.5s;
}

.pi-github:hover {
    color: #ffd8bd;
}

.pi {
    margin-right: 10px;
}

.profile-image-wrapper {
    position: relative; 
    overflow: hidden; 
    border-radius: 50%; 
    height: 25vw;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.135);
}

.recent-projects-header {
    margin:  0 0 50px 0;
}

.recent-projects-header:hover {
    cursor: default;
}

.recent-projects {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: $mobile-width) {
    .profile-container {
        flex-direction: column;
    }

    .profile-info-container {
        text-align: center;
    }

    .profile-image-container {
        justify-content: center;
    }

    .profile-image-wrapper {
        height: 50vw;
        width: 50vw;
    }
}