$base-gap: 50px;

.profile-container {
    display: flex;
    flex-direction: row;
    margin-top: $base-gap;
    gap: $base-gap;
}

.profile-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    flex: 1;
}

.profile-image-container {
    display: flex;
    justify-content: left;
    fleX: 1;
}

.large {
    font-size: 60px;
}

.medium {
    font-size: 30px;
}

.small {
    font-size: 20px;
}

.pi-linkedin {
    color: #0077B5;
    font-size: 20px;
    transition: color 0.5s;
}

.pi-linkedin:hover {
    color: #00a0dc;
}

.pi-github {
    color: #ffb07b;
    font-size: 20px;
    transition: color 0.5s;
}

.pi-github:hover {
    color: #ffd8bd;
}

.pi {
    margin-right: 10px;
}

.profile-image {
    border-radius: 50%;
}