@import "primeicons/primeicons.css";

$mobile-width: 768px;
$scroll-panel-width: calc(100% + 18px);

.p-scrollpanel-bar-y {
    width: 10px;
    border-radius: 10px;
    z-index: 10;
}

.p-scrollpanel-content {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.275);
    position: relative; 
    overflow: hidden; 
}

.inner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
}

.square-image{
    border-radius: 10px;
    width: 20vw;
    height: 20vw;
}

.image {
    border-radius: 10px;
    width: 40vw;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.275);
}

.video {
    width: 40vw;
    border-radius: 20px;
    background-color: black;
}

@media screen and (max-width: $mobile-width) {
    .square-image{
        width: 80vw;
        height: 80vw;
    }
    .image {
        width: 80vw;
        height: 20vw;
    }
    .video {
        width: 80vw;
    }
}